# Permalinks
#
# Use of `relative_permalinks` ensures post links from the index work properly.
permalink:           pretty



# Setup
title:               All About Patrick
tagline:             'Everything about me'
description:         'A website containing information and projects from me.'
url:                 http://www.youtube.com/user/xtradv112
baseurl:             ''
paginate:            5


# About/contact
author:
  name:              Mark Otto
  url:               https://twitter.com/mdo
  email:             markdotto@gmail.com

# Custom vars
version:             1.0.0

# Gems
gems: [jekyll-paginate]


